div.chess-wrapper {
  width: 1920px;
  /* border: 1px solid black;*/
  overflow: hidden; /* will contain if #first is longer than #second */
}
div.chess-board {
  width: 550px;
  float: left; /* add this */

  /*border: 1px solid red;*/
}
div.chess-table {
  width: 1354px;
  height: 860px;
  overflow: hidden;
  overflow-y: scroll;
  /*border: 1px solid green;*/
  /*overflow: hidden;*/ /* if you don't want #second to wrap below #first */
}

div.cards-wrapper {
  width: 550px;
  /* border: 1px solid black;*/
  overflow: hidden; /* will contain if #first is longer than #second */
}
div.card-left {
  width: 250px;
  float: left; /* add this */

  /*border: 1px solid red;*/
}
div.card-right {
  width: 250px;
  overflow: hidden;

  /*border: 1px solid green;*/
  /*overflow: hidden;*/ /* if you don't want #second to wrap below #first */
}
